html, body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Poppins, sans-serif;
  background-color: #D9D9D9;
}

.App {
  width: 100vw;
  height: 100vh;
  position: relative;
  min-width: 1440px;
  min-height: 1024px;
}

/*Tablas "inventory view", "sumary" y "compatibility check"*/

.custom-header-inventory{
  background-color: white;
  color: #B5B7C0;
  font-family: Poppins, sans-serif;
  font-weight: 650;
  font-size: 11px !important;
}

.inventory-view .ag-header-cell {
  border-radius: 12;    
  font-size: 10px;       
  padding: 4px;         
}

.inventory-view .ag-root,
.inventory-view .ag-root-wrapper,
.inventory-view .ag-header,
.inventory-view .ag-body {
    border: none;
    background-color: white;
}

.inventory-view .ag-row {
  border-bottom: 1px solid #D9D9D9; 
}

.inventory-view .ag-header-row {
  border-bottom: 1px solid #5932EA; 
}

.inventory-view .ag-cell {
  border: none;
  padding: 4px;
  background-color: white;
  color: #292D32;
  font-family: Poppins, sans-serif;
  font-weight: 500;
}

.inventory-view .ag-row:last-child {
  border-bottom: 0px solid #D9D9D9;
}

.custom-header-sumary{
  color: #B5B7C0 !important;
  font-family: Poppins, sans-serif;
  font-weight: 650;
  font-size: 11px !important;
}

.sumary-grid{
  border: 5px solid #D9D9D933 !important;
  border-radius: 10px; /* Opcional: Bordes redondeados */
  overflow: hidden; /* Evita que la barra de scroll se recorte */
}

.sumary-grid .ag-root-wrapper,
.sumary-grid .ag-header,
.sumary-grid .ag-body,
.sumary-grid .ag-row {
  border: none !important;
}

.sumary-grid .ag-header-cell {
  border-radius: 12;    
  font-size: 10px;       
  padding: 4px;         
}

.sumary-grid .ag-root-wrapper {
  box-shadow: none !important;
  background-color: transparent !important;
}

.sumary-grid .ag-header-container {
  border-bottom: none !important;
}

.sumary-grid .ag-center-cols-container .ag-row:nth-child(odd) .ag-cell {
  background-color: #efecec !important; /*Filas impares*/
}

.sumary-grid .ag-center-cols-container .ag-row:nth-child(even) .ag-cell {
  background-color: #D9D9D933 !important; /*Filas pares*/
}

.texto-modulos {
  font-family: Poppins, sans-serif;
  margin-left: 20px;
  margin-top: 13px;
  font-size: 22px;
  font-weight: bold;
}

/*"Add product and Edit product buttons*/

.custom-input {
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid white;
  background-color: #F9FBFF;
  color: #504c4b;
  font-family: Poppins, sans-serif;
}

.custom-input:focus {
  outline: 1px solid #2037ba;
}

.custom-buttons{
  padding: 10px 20px;
  background-color: #4321C9;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-buttons:hover{
  background-color: #5932EA;
}

/*Compatibilities button*/

.more-button{
  margin-left: 5px;
  padding: 10px 20px;
  background-color: #4321C9;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.more-button:hover{
  background-color: #5932EA;
}

/*Sidebar*/

.sidebar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 160px;
  height: 1024px;
  background-color: #ffffff;
  padding: 20px;
}

.sidebar-button {
  display: flex;
  align-items: center;
  gap: 4px;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: white;
  color: #9197B3;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  text-align: left;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.sidebar-button1 {
  gap: 13px;
}

.sidebar-button2 {
  gap: 0px;
  padding-left: 44px;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  fill: #9197B3;
  transition: fill 0.3s ease;
}

.icon-interior {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  fill: none;
  transition: fill 0.3s ease;
}

.icon-external-border {
  stroke: #9197B3;
  stroke-width: 1.35px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.icon-interior-border {
  stroke: #9197B3;
  stroke-width: 1.5px;
  stroke-miterlimit: 10;
}

.icon-agujero-llave{
  stroke:#9197B3;
  stroke-width: 2px;
  stroke-linecap: round;
}

.jobsheets-button-general{
  width: 20px;
  height: 20px;
  fill: none;
}

.jobsheets-inferior{
  fill: #9197B3;
}

.jobsheets-external-border{
  stroke: #9197B3;
  stroke-width: 1.5px;
  stroke-linecap: round;
  stroke-linejoin: round;
}


.payments-button-border{
  stroke:#9197B3;
  stroke-width: 1.5px;
  stroke-linecap: round;
  stroke-linejoin:round;
}

.payments-button{
  width: 21;
  height: 22px;
  fill: none;
}

#btn4 svg {
  margin-left: -85px;
}

#btn4 .texto-btn4 {
  position: relative;
  left: -75px;
}

.sidebar-button:hover,
.sidebar-button1:hover {
  background-color: #5932EA;
  transform: translateX(5px);
  color: #FFFFFF;
}

.sidebar-button:hover .icon {
  fill: white;
}

.sidebar-button:hover .payments-button {
  stroke: white;
}

.sidebar-button:hover .icon-external-border,
.sidebar-button:hover .icon-interior-border,
.sidebar-button:hover .icon-agujero-llave,
.sidebar-button:hover .payments-button-border,
.sidebar-button1:hover .jobsheets-external-border,
.sidebar-button1:hover .jobsheets-inferior {
  stroke: white;
}

.sidebar-button i {
  margin-right: 10px;
}